<html>
<head>
  <title><%= Rails.application.class.to_s.sub('::Application', '') %> API Documentation</title>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
  <style>
    @page { size: 24.5cm 35cm } /* http://www.princexml.com/doc/9.0/page-size/ */

    body {
      color: #333333;
      font-family: 'Verdana', 'Droid Sans', sans-serif;
      font-size: 14px;
      padding: 15px;
      margin: 0;
    }
    body *{
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .container {
      padding: 0;
      width: 100%;
    }
    h1, h2, ul {
      margin: 0 0 10px;
      padding: 0;
    }
    h1 {
      font-size: 2.286em;
    }
    h2 {
      font-size: 2em;
    }
    a {
      color: #1d96d2;
      text-decoration: none;
    }
    ul {
      padding-left: 0;
      list-style: none;
    }
    li{
      margin-bottom: 4px;
    }

    ol{
      margin: 0 0 10px 0;
      padding: 0 10px 0 50px;
    }
    ol li{
      white-space: pre;
      border-left: 1px solid #ccc;
      margin: 0;
      padding: 0 4px;
    }
  </style>
</head>
<body>
<div class="container">
  <h1><%= Rails.application.class.to_s.sub('::Application', '') %> API Documentation</h1>
  <p>Generated <%= Time.now.strftime('%d %B %Y at %H:%m:%S')%> with <a href="https://github.com/reqres-api/reqres_rspec">reqres_rspec</a></p>
  <ul>
    <% @records.each_with_index do |record, index| %>
      <li>
        <%= index+1 %>.
        <a href="rspec_doc_<%= ('0000' + (index + 1).to_s)[-5, 5] %>.html">
          <%= record[:title] %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
</body>
</html>
