<!DOCTYPE html>
<html>
  <head>
    <title><%= ReqresRspec.configuration.title %></title>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    <style type="text/css">
      body {
        color: #333333;
        font-family: 'Verdana', 'Droid Sans', sans-serif;
        font-size: 12px;
        padding: 0;
        margin: 0;
      }
      body *{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      h1, h2, h3 {
        padding: 10px 5px;
        margin: 0;
        background: #dedede;
      }
      h1 {
        font-size: 1.5em;
      }
      h2 {
        font-size: 1.3em;
        padding-bottom:5px;
      }
      h3 {
        font-size: 0.95em;
        padding-bottom:0px;
      }
      ul, ul li {
        list-style-type: none;
        padding:0px;
        margin:0px;
      }
      ul li {
        border-bottom:1px solid lightgray;
        background: #fefefe;
      }
      ul li:first-child {
        border-top:1px solid lightgray;
      }
      ul li:nth-child(2n+1) {
        background: #eeeeee;
      }
      ul li a {
        padding:5px;
        display: block;
      }
      ul li a:hover {
        background: #dedede;
      }
      a {
        color: #1d96d2;
        text-decoration: none;
      }
      span.method {
        border-radius: 3px;
        background-color: darkgray;
        color: white;
        padding: 3px;
        font-size: 90%;
        width: 56px;
        display: inline-block;
        text-align: center;
      }
      span.method.get {
        background-color: darkgreen;
      }
      span.method.post {
        background-color: darkorange;
      }
      span.method.put, span.method.patch {
        background-color: darkorange;
      }
      span.method.delete {
        background-color: darkred;
      }
    </style>
  </head>
  <body>
    <h1><a href="rspec_doc_table_of_content.html" target="specs">
      <%= ReqresRspec.configuration.title %>
    </a></h1>
    <% @records.group_by{|h| h[:group]}.each do |group, items| %>
      <h2><%= group %></h2>
      <% items.group_by{|h| h[:request][:symbolized_path]}.each do |path, records| %>
        <h3><%= path %></h3>
        <ul>
          <% records.each do |record| %>
            <li>
              <a href="rspec_doc_<%= record[:filename] %>.html" target="specs">
                <span class="method <%= record[:request][:method].downcase %>"><%= record[:request][:method] %></span>
                <%= record[:title] %><br />
              </a>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </body>
</html>
