<html>
<head>
  <title><%= ReqresRspec.configuration.title %></title>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
  <style>
    @page { size: 24.5cm 35cm } /* http://www.princexml.com/doc/9.0/page-size/ */

    body {
      color: #333333;
      font-family: 'Verdana', 'Droid Sans', sans-serif;
      font-size: 14px;
      padding: 15px;
      margin: 0;
    }
    body *{
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .container {
      padding: 0;
      width: 100%;
    }
    h1, h2, ul {
      margin: 0 0 10px;
      padding: 0;
    }
    h1 {
      font-size: 2.286em;
    }
    h2 {
      font-size: 2em;
    }
    h3{
      font-size: 1.57em;
      margin: 14px 0 0px;
      padding: 0;
    }
    h4{
      font-size: 1.15em;
      margin: 14px 0 0 0;
      padding: 0;
    }
    h5{
      font-size: 1em;
      margin: 10px 0 0 0;
      padding: 0;
    }
    a {
      color: #1d96d2;
      text-decoration: none;
    }
    .required {
      color: #f00;
    }
    ul {
      padding-left: 0;
      list-style: none;
    }
    li{
      margin-bottom: 4px;
    }
    .table{
      border: 1px solid #cccccc;
      border-radius: 4px;
      overflow: hidden;
    }
    table.params{
      width: 100%;
      font-size: 1em;
      padding: 0;
      margin: 0;
      border-collapse: collapse;
      border-spacing: 0px;
    }
    table.params tr{
      border-top: 1px solid #cccccc;
    }
    table.params tr:first-child{
      border-top: 0
    }
    table.params th, td{
      margin: 0;
      padding: 5px 8px;
      text-align: left;
      border-left: 1px solid #cccccc;
      font-size: 1em;
    }
    table.params th:first-child, td:first-child{
      border-left: 0;
    }
    table.params td{
      background: #f9f9f9;
    }
    table.params tr:nth-child(2n+1) td{
      background: #ffffff;
    }
    table.params td i{
      font-style: normal;
      font-weight: 300;
      float: right;
    }

    code, ol{
      display: block;
      border-radius: 6px;
      border: 1px solid #cccccc;
      width: 100%;
      background: #f5f5f5;
      font-family: 'Courier New','Droid Sans Mono', monospace;
      font-size: 0.85em;
      font-weight: 700;
    }
    code{
      white-space: pre-line;
      word-wrap: break-word;
      padding: 10px;
      font-size: 0.85em;
    }
    code i{
      font-weight: 400;
      font-style: normal;
    }
    .CodeRay td {
      width: 99%;
    }
    .CodeRay td.line-numbers {
      width: 1%;
    }
    ol{
      margin: 0 0 10px 0;
      padding: 0 10px 0 50px;
    }
    ol li{
      white-space: pre;
      word-wrap: break-word;
      border-left: 1px solid #ccc;
      margin: 0;
      padding: 0 4px;
    }
    ol li:first-child {
      padding-top: 5px;
    }
    ol li:last-child {
      padding-bottom: 5px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h3>
      <a href="rspec_doc_00000.html">&#9650</a>
      <a id="<%= @index %>"></a><%= @index %>. <%= @record[:title] %>
    </h3>

    <p>
      <%= @record[:description].gsub("\n", ('<br>'.respond_to?(:html_safe) && '<br>'.html_safe) || '<br>') %>
    </p>

    <code><%= @record[:request][:method] %> <%= @record[:request_path] %></code>

    <% if @record[:params].size > 0 %>
      <h5>Parameters</h5>
      <div class="table">
        <table class="params">
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
          </tr>
          <% @record[:params].each do |param| %>
            <tr>
              <td>
                <%= param[:name] %>
                <% if param[:required].present? %>
                  <br/>
                  <i class="required"><%= param[:required] %></i>
                <% end %>
              </td>
              <td><%= param[:type] %></td>
              <td><%= param[:description].gsub("\n", ('<br>'.respond_to?(:html_safe) && '<br>'.html_safe) || '<br>') %></td>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>

    <h4>Request</h4>

    <% if @record[:request][:headers].keys.count > 0 %>
      <h5>Headers</h5>
      <code><%= @record[:request][:headers].collect { |k, v| "#{k}: <i>#{v}</i>"}.join("\n")%></code>
    <% end %>

    <h5>Route</h5>
    <code><%= @record[:request][:method] %> <%= @record[:request][:path] %></code>

    <h5>Query parameters</h5>
    <% if @record[:request][:query_parameters].empty? %>
      <code>empty</code>
    <% else %>
      <% lines = ::JSON.pretty_generate(@record[:request][:query_parameters]) %>
      <code>
        <%= CodeRay.scan(lines, :json).div(line_numbers: :table) %>
      </code>
    <% end %>

    <!--<h5><a href="http://curl.haxx.se/docs/manpage.html">CURL</a> Example</h5>
    <code>TODO</code>-->

    <h5>Body</h5>
    <% if @record[:request][:body].present? %>
      <% lines = begin
        ::JSON.pretty_generate(
          ::JSON.parse(
            @record[:request][:body]
          )
        )
      rescue
        @record[:request][:body]
      end %>
      <code>
        <%= CodeRay.scan(lines, :json).div(line_numbers: :table) %>
      </code>
    <% else %>
      <code>empty</code>
    <% end %>

    <h4>Response</h4>

    <% if @record[:response][:headers].count > 0 %>
      <h5>Headers</h5>
      <code><%= @record[:response][:headers].collect { |k, v| "#{k}: <i>#{v}</i>"}.join("\n")%></code>
    <% end %>

    <h5>Status code (<a href="http://en.wikipedia.org/wiki/List_of_HTTP_status_codes">wiki</a>)</h5>
    <code>HTTP <%= @record[:response][:code] %></code>

    <% if @record[:response][:body].present? %>
      <h5>Body</h5>

      <% if (@record[:response][:headers]['Content-Type'] == 'application/pdf' rescue true) %>
        <code>PDF document</code>
      <% else %>
        <% lines = begin
                     ::JSON.pretty_generate(
                       ::JSON.parse(
                         @record[:response][:body]
                       )
                     )
                   rescue
                     @record[:response][:body]
                   end
        %>
        <code>
          <%= CodeRay.scan(lines, @record[:response][:format]).div(line_numbers: :table) %>
        </code>
      <% end %>
    <% end %>
  </div>
</body>
</html>
